@model List<FaceAnalyzer.Models.FaceAttributesViewModel>
@{
    //Layout = null;
    ViewData["Title"] = "Analysis";
}

<h1 class="display-4">Análisis</h1>
<br/>
<div class="row">
    <div class="col-md-4 col-sm">
        <div class="panel panel-default">
            <div class="panel-heading">Fotografía:</div>
            <div class="panel-body">
                <div id="analysis">
                    @{
                        <br />
                        <p><img src="@Url.Content(@Model[0].Image)" alt="img" /></p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm">
        <div class="panel panel-default">
            <div class="panel-heading">Resultado del análisis de la imagen:
            <div class="panel-body">
                <div id="analysis">
                    <br />
                    @{
                        foreach (var face in Model)
                        {
                            if (face.Age == -1)
                            {
                                <p><b>No se ha detectado ningún rostro en la imagen.</b></p>
                                <p><b>Intenta sacar otra foto.</b></p>
                            }
                            else
                            {
                                if (!String.IsNullOrEmpty(face.Gender))
                                {
                                    <p>@Html.DisplayNameFor(model => model[0].Gender): <b>@face.Gender</b></p>
                                }
                                if (face.Age != null)
                                {
                                    <p>@Html.DisplayNameFor(model => model[0].Age): <b>@face.Age</b></p>
                                }
                                if (!String.IsNullOrEmpty(face.Gender) && face.Gender == "Mujer")
                                {
                                    <p>@Html.DisplayNameFor(model => model[0].Makeup): <b>@face.Makeup</b></p>
                                }
                                if (!String.IsNullOrEmpty(face.Gender) && face.Gender == "Hombre")
                                {
                                    <p>@Html.DisplayNameFor(model => model[0].FacialHair): <b>@face.FacialHair</b></p>
                                }
                                if (!String.IsNullOrEmpty(face.Smile))
                                {
                                    <p>@Html.DisplayNameFor(model => model[0].Smile): <b>@face.Smile</b></p>
                                }
                                if (!String.IsNullOrEmpty(face.Glasses))
                                {
                                    <p>@Html.DisplayNameFor(model => model[0].Glasses): <b>@face.Glasses</b></p>
                                }
                                if (!String.IsNullOrEmpty(face.Hair))
                                {
                                    <p>@Html.DisplayNameFor(model => model[0].Hair): <b>@face.Hair</b></p>
                                }
                                <br />
                            }
                        }
                    }                
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm"></div>
    </div>
</div>


